################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/ProjectSettings.json
/.vs/test_kinect/v15/ipch/AutoPCH/a930770a0715d256/TWOKINECT_PCL.ipch
/.vs/test_kinect/v15/Browse.VC.opendb
/.vs/test_kinect/v15/Browse.VC.db
/.vs/slnx.sqlite
/.vs/test_kinect/v15/.suo
/.vs/test_kinect/v15/ipch/AutoPCH/37768fcb0e27f6f2/TWOKINECT_CALIBRATION.ipch
/.vs/VSWorkspaceState.json
